.footer
  background-color: $color-footer
.footer__wrap
  display: flex
  flex-flow: row nowrap
  align-items: flex-start
  justify-content: space-between
  padding: 95px 0 100px
  @media screen and (min-width: 651px) and (max-width: 1024px)
    flex-flow: row wrap
    padding: 95px 15px 100px
  @media screen and (max-width: 650px)
    padding: 45px 15px
    flex-flow: column nowrap
  > div
    max-width: 370px
.footer__title
  font-size: 17px
  font-weight: $font-weight-semibold
  line-height: 27px
  text-transform: uppercase
  color: #FFFFFF
@media screen and (max-width: 1024px)
  .footer__about-us
    margin-bottom: 30px
.about-us__description
  font-size: 11px
  font-weight: $font-weight-normal
  line-height: 17px
  color: $color-light-grey
.about-us__phones-list
  margin-top: 40px
.about-us__phone-number
  margin-bottom: 15px
  svg
    width: 20px
    height: 12px
    margin-right: 15px
  a
    font-size: 13px
    font-weight: $font-weight-semibold
    line-height: 16px
    color: #FFFFFF
    text-decoration: none

.footer__navigation-title
  margin-bottom: 60px
  @media screen and (max-width: 1024px)
    margin-bottom: 20px
.footer-menu
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  justify-content: flex-start
  @media screen and (max-width: 1024px)
    margin-bottom: 30px
.footer-menu__item
  position: relative
  display: block
  margin-bottom: 15px
  font-size: 13px
  font-weight: $font-weight-semibold
  line-height: 16px
  color: #FFFFFF
  text-decoration: none
  text-transform: uppercase
  &:after
    content: ''
    position: absolute
    visibility: hidden
    bottom: -5px
    left: 0
    right: 0
    height: 1px
    opacity: 0
    background-color: #FFFFFF
    transition: 0.2s ease
  &:hover
    &:after
      visibility: visible
      opacity: 1

.footer__phone-number
  display: flex
  flex-flow: row nowrap
  align-items: flex-start
  justify-content: flex-start
  margin-bottom: 60px
  @media screen and (max-width: 1024px)
    margin-bottom: 20px
  span
    font-size: 17px
    font-weight: $font-weight-semibold
    line-height: 21px
    color: #FFFFFF
.footer__logo
  display: inline-block
  margin-bottom: 25px
  font-size: 21px
  font-weight: $font-weight-bold
  line-height: 26px
  text-transform: uppercase
  color: $color-logo
  text-decoration: none
.footer__rights
  margin-bottom: 30px
.footer__info--text
  font-size: 11px
  font-weight: $font-weight-normal
  line-height: 17px
  color: $color-light-grey

