$color-black: #2E2E2E
$color-main: #59B1BC

$font-size-title: 40px

$font-weight-normal: 400
$font-weight-medium: 500
$font-weight-semibold: 600
$font-weight-bold: 700

$border-grey: rgba(46, 46, 46, 0.15)
